div{
    width: 200px;
    height: 200px;
    background: beige;
    /*display: inline;*/
    display: inline-block;
}
span{
    color: blue;
    font-weight: bold;
    display: block;
}

#dos{
    /*display: none;*/
    visibility: hidden;
}