@import url(otrosEstilos.css);
h2{ color:aquamarine;}
p{color :darkmagenta;}

/* Selector universal ---->7 * */
/**{ font-family:cursive;}*/

/* Selector de tipo ó etiqueta */
span {color: greenyellow;}

/* selector de clase */
/*.subrayado{text-decoration: underline;}*/
span.subrayado{text-decoration: underline;}

/*selector id*/
#mayusculas {text-transform: uppercase;}*/

/*selectore pseudo-class*/
a:link{color:mediumorchid;}/*link NO visitado*/
a:visited{color:lightseagreen; text-decoration:none;}/*link que ya se ha visitado*/
a:hover{font-weight: bold;}/*cursor sobre el link*/
a:active{color:maroon}/*link presionado o al dar click*/

/*selectores de atributo*/
img[title]{width:200px; height:auto;}/* el selector se le aplicaria a todos los elementos con el atributos*/ 
img[alt="virgenFatima"]{width: 400px; height: auto;}/* se aplicaria a todos los elementos con un atributo especifico y un valor especifico*/
/*Fuentes*/
body{
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 14 px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    line-height: 36px;*/
    /*shorthand o metodo apreviado*/
   /* font: italic small-caps bold 25px/200% ariel,Helvetica,sans-serif;*/
}
/*TEXTO*/
P{
    text-align: justify;/*left, center, right, justify*/
    text-indent: 20px;
    text-transform: capitalize;/* uppercase, lowercase, capitalize*/
    text-decoration: underline;  /*underline, overline, line-though, none*/
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;/*top, middle, botton, sub, sup*/
}
h2{
    letter-spacing: 5px;/*separa las letras entre si*/
    word-spacing: 15px;/*separa las palabra entre si*/
}
/*Propiedad Fondo*/
body{
    /*background-color: plum;*/
   /* background-image: url(../img/angel.jpg);*/
   /* background-repeat: no-repeat;/* repeat, repeat-x, repeat-y no-repeat*/
   /* background-position: 50% 60%;
    background-attachment: scroll;*/
}
/*cuadro 1*/
#cuadro{
    width: 200px;
    height: 200px;
    overflow: scroll;/*vible, scroll, hidden, auto*/
    background:mediumorchid;

/*cuadro 2*/

    /*border-width: 4px;
    border-style: solid;
    border-color: magenta;*/
    border: 4px solid magenta;

    /*padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 10px;*/
    padding: 20px 50px 10px 10px;

   /* margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 70PX;
    margin-left: 20PX;*/
    margin: 40px 0px 70px 20px;
}