body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#principal{
    width: 800px;
    padding: 20px;
    border: 2px dashed #3498d8;
    margin: 20px auto;
    color: #888;
}
img{
    width: 50%;
    height: auto;
    margin: 0 20px 10px;
    float: left;/* el texto se acomoda a la izquierda de la imagen*/
}
p{
    line-height: 1.5;
    margin: 0 0 10px 0;
}