body{
     font-family: Arial, Helvetica, sans-serif;
}
/*selector padre: modifica todos los elementos hijos que estan dentro del elemento padre*/
div p{background: #ff0;}
/*selector hijo: modifica todos los elementos que son hijos inmediatos de un elemento especifico*/
div > p{background: #fc0;}
/*selector adyacente general: modifica todos los elementos que estan despues de un elemento especifico*/
div ~ p{background: #0fc;}
/*selector adyacente inmediato: modifica todos los elementos que estan inmediatamente despues de un elemento especifico*/
div p{background: #ae0;}