ul{
    font-size: 22px;
    line-height: 150%;
    padding: 0px;
    border: 1px solid aquamarine;
    /*list-style-type: circle;*/
    /*list-style-type: decimal;*/
    /*list-style-type: lower-alpha;*/
    /*list-style-type: none;
    list-style-position: inside;
    list-style-image: url(../img/vineta.png);*/

    list-style: url(../img/vineta.png) inside;


}