body{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 800px;
}
#padre{
    width: 700px;
    height: 1000px;
    border: 4px solid #0cc;
    margin: 200px auto;
    padding: 20px;
    position: relative;
}
#hijo{
    text-align: center;
    padding: 50px;
    background: rgba(128, 128, 128, 0.5);
    font-size: 2em;
    /*POSICION RELATIVA*/
    /* position: relative;/*hace que el elemento se mueva segun indicaciones*/
    /* top: 650px;
    left: 100px;*/
    /*POSICION ABSOLUTA*/
    position: absolute;
    top: 700px;
    left: 100px;
}
#fija{
    text-align: center;
    padding: 50px;
    background: rgba(220, 20, 128, 0.5);
    font-size: 2em;
      /*POSICION FIXED*/
    position: fixed;
    top: 50px;
    left: 80px;

}