body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 200px;
    height: 200px;
    padding: 20px;
    position: absolute; 
}
#div1{
    background: #fc0;
    top: 0;
    left: 0;
    z-index: 20;
}
#div2{
    background: #cf0;
    top: 50;
    left: 50;
    z-index: 10;
}
#div3{
    background: #ae0;
    top: 100;
    left: 100;
    z-index: 0;
}