*{margin: 0; padding: 0;}
body{background: url(../imagenes/fondo.jpg) no-repeat top left; font-family: Arial, Helvetica, sans-serif;}
#principal {width: 50%; margin: 220px auto;/*border:1px solid;*/float: left; padding-right: 4%;}
#principal h1{ position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 20px;color: maroon; margin: 25px;}
#principal p{position: relative;font-family: Arial, Helvetica, sans-serif; font-size: 16px; color:dimgray; left: 25px; line-height: 25px; padding-bottom: 25px;}
#principal img{ position: relative; width: 400px; height: 100px; border: 1px solid dimgray; left: 20%; padding: 10px;}
#contenedor{ width: 20%;margin: 220px auto; /*border:1px solid;*/ float: left; padding-right: 2%;}
#contenedor a{font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; text-decoration: none;}
#contenedor h2{font-family:Arial, Helvetica, sans-serif;font-size: 18px; color: dimgray; }
#contenedor h3{font-family:Arial, Helvetica, sans-serif;font-size: 18px; color: dimgray; }
#contenedor hr{color: dimgray;height: 0px; border:1px dashed;}
#contenedor2{ width: 20%;margin: 220px auto;/* border:1px solid;*/ float: left;}
#contenedor2 h2{font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: dimgray; }
#contenedor2 p{font-family:Arial, Helvetica, sans-serif;font-size: 14px; line-height: 25px; color: dimgray; padding-top: 15px;}
#contenedor2 p strong{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 20; color: black;}
#contenedor2 p a{ font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: midnightblue;left:11px;}
#contenedor2 p img{float: left; margin:5px;}
#contenedor2 hr{color: dimgray;height: 0px; border:1px dashed;}
#contenedor2 a{position: relative; font-family: Arial, Helvetica, sans-serif;font-size: 14px; color:#4c5569; left: 170px;}
#contenedor2 img{position: relative; padding-top: 15px;}

