*{margin: 0; padding: 0;}
body{background: url(../img/fondo.png) no-repeat top left; font-family: Arial, Helvetica, sans-serif;}
#boton a{background-color: #86c512; position: relative; font-size: 12px; color:dimgray; text-decoration:none; top: 30px; left: 1160px;  border: 1px solid #86c512;
        padding: 10px 30px;}
#boton h1{position: relative; letter-spacing: 11px; padding-top: 20px; left: 100px; color:#86c512;}
#boton h3{position: relative; padding-top: 5px;left: 100px; color: #fff;}
#menu{background-color: #86c512;  width: 100%; float: center; text-align: center; margin-top: 5px; padding: 15px; border: 1px solid #86c512;}
#menu ul{list-style-type: none;}
#menu ul li{display: inline-block;}
#menu ul li a{color:dimgray;text-decoration: none;padding: 5px 20px;font-size: 14px;}
#menu li a:hover{background: #161c28; color: honeydew;}
#principal {width: 60%;margin: 30px auto;/* border:1px solid;*/float: left;}
#principal h2{ position: relative;font-size: 25px;font-weight: normal; color: dimgray; left: 20px;top: 20px;}
#principal p{position: relative;font-size: 16px;letter-spacing: 2px; line-height : 25px; color: dimgray; left: 20px;top: 40px;}
#member p {position: relative; border: 1px solid dimgray; padding: 30px 80px; font-size: 16px; top: 80px;left: 20px;}
#contenedor {background-color:#eeeeee; width: 30%; height: 400px; margin: 30px auto; /*border:1px solid #161c28;*/float: right;}   
#contenedor legend{background: url(../img/formulario.jpg) no-repeat top center;font-family: Arial, Helvetica, sans-serif; font-size: 18px; padding-top: 20px; color: #fff;}
#contenedor label{position:relative; left: 15px; top: 29px;}
#contenedor input {position: relative; width: 170px; height: 20px; left: 200px; top: 10px;}
#contenedor p{position: relative; left: 15px;top: 29px;}
#contenedor select{position: relative; width: 175px; height: 25px; left: 200px;top:10px}


